h1
{
	color: white;
	font: 33pt Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 8pt;
	border-bottom: 2px solid white;
	padding-bottom: 15px;
}

body
{	
	margin:auto;
	font: 12pt Arial, Helvetica, Geneva, sans-serif;
}

.banner
{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header
{
	height: auto;
	padding: 0px 50px;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	width: 100%;
	z-index: 1;
}

#logo
{
	width: 150px;
}

nav
{
	padding-bottom: 20px;
}

nav a
{
	margin: 0 10px 0 40px;
	text-decoration: none;
	font-size: 12pt;
	letter-spacing: 1pt;
}

nav a:hover
{
	text-decoration: underline;
}

#coverwrapper
{
	padding-top: 100px;
}

#cover
{
	width: 100%;
}

#heading
{
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	top: 0;
	margin: 25% 0;
	padding: 0 250px;
}

main
{
	padding: 50px 40px;
}

p a
{
	color: orange;
}

footer
{
	height: 80px;
	background-color: darkblue;
	color:white;
	font-size: 10pt;
	padding: 0 50px;
}

footer img
{
	width: 20px;
	margin: 0 15px;
}

footer img:hover
{
	filter: brightness(60%);
	transition: all 0.5s ease;
	cursor: pointer;
}